# Hugo build output
/public/
/resources/_gen/
/assets/jsconfig.json
hugo_stats.json

# Node
/node_modules/
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment
.env
.env.local
